.title {
  font-family: 'Sofadi One', Arial, Helvetica, sans-serif;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px 0;
  color: whitesmoke;
}

.item {
  display: flex;
  margin: 0 120px;
}

.image {
  min-width: 440px;
  max-height: 440px;
  margin-right: 32px;
}

@media (max-width: 900px) {
  .title {
    font-size: 32px;
    margin: 0 0 24px 0;
  }

  .item {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .image {
    margin: 0 0 16px 0;
    min-width: 200px;
  }

  .features {
    text-align: center;
    margin: 0 48px;
  }
}

.feature {
  font-family: 'Sofadi One', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: whitesmoke;
  margin-bottom: 16px;
}

mark {
  font-family: 'Sofadi One', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: whitesmoke;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.common {
  margin-top: 12px;
  font-family: 'Sofadi One', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

.back {
  position: fixed;
  top: 16px;
  right: 64px;
  border: none;
  font-size: 48px;
  font-weight: bolder;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
